.collapsed {
  width: 60px;
}
.collapsed .logo .logo-text {
  display: hidden;
}
.collapsed .logo .logo-text .logo-name {
  display: none;
}
.collapsed .side-menu {
  margin-top: 40px;
}
.collapsed .side-menu li a span {
  display: none;
}

.content-container {
  position: relative;
}
.content-container .content {
  width: calc(100% - 60px);
  left: 60px;
}
.content-container .content main .order-container {
  width: 45vw !important;
}
.content-container .content main .reminder-container {
  width: 45vw !important;
}
.content-container .content main .chat-container .chatSide {
  min-width: 84%;
}