.order-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  padding-top: 0px;
  width: 40vw;
  color: var(--dark);
  background: var(--light);
  border-radius: 20px;
}
.order-container .order-header {
  display: flex;
  flex: 1;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
  padding: 10px 20px 4px 20px;
  justify-content: space-between;
}
.order-container table {
  width: 100%;
  border-collapse: collapse;
}
.order-container table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}
.order-container table th:first-child {
  padding-left: 25px;
}
.order-container table tbody tr {
  cursor: pointer;
  transition: all 0.3s ease;
}
.order-container table tbody tr:hover {
  background-color: var(--grey);
}
.order-container table tbody tr td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.order-container table tbody tr td:first-child {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 12px;
}
.order-container table tbody tr td .order-status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}
.order-container table tbody tr td .order-complete {
  background: var(--success);
}
.order-container table tbody tr td .order-process {
  background: var(--primary);
}
.order-container table tbody tr td .order-pending {
  background: var(--warning);
}
.order-container table td {
  padding: 16px 0;
}

@media (max-width: 768px) {
  .order-container {
    width: 75vw;
    border-radius: 16px;
  }
  .order-container .order-header {
    padding: 10px 10px 4px 10px;
  }
  .order-container table th:first {
    padding-left: 15px !important;
  }
  .order-container table td:first {
    padding-left: 10px !important;
  }
  .order-container table td p {
    font-size: 12px;
  }
  .order-container table td .order-status {
    padding: 5px 10px !important;
    font-weight: 400;
  }
}