.search-container {
  display: flex;
  margin-top: 15px;
  align-items: center;
  position: relative;
}
.search-container .search-input {
  outline: none;
  border: none;
  padding: 4px 10px 4px 40px;
  border-radius: 6px;
}
.search-container .search-icon {
  position: absolute;
  left: 10px;
}

.search-insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 16px;
  margin-top: 36px;
  padding-bottom: 20px;
}
.search-insights li {
  padding: 24px;
  background: var(--primary);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  cursor: pointer;
}
.search-insights li .search-card-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-insights li .search-card-info h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.search-insights li .search-card-info p {
  color: #fff;
}

@media (max-width: 768px) {
  .search-container .search-input {
    width: 45vw;
  }
  .search-insights {
    margin-top: 18px;
  }
  .search-insights li {
    padding: 16px;
    grid-gap: 24px;
  }
  .search-insights li .search-card-image {
    width: 60px;
    height: 60px;
  }
  .search-insights li .search-card-info h3 {
    font-size: 18px;
  }
  .search-insights li .search-card-info p {
    font-size: 12px;
  }
}