:root {
  --light: #f6f6f9;
  --primary: #4E31AA;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
  --light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #4E31AA;
  --light-success: #BBF7D0;
  --secondary: #3F5DA5;
  --icon-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--grey);
  overflow-x: hidden;
}

body.dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
  --icon-color: #fff;
}

.icon {
  color: var(--icon-color) !important;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

main{
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 56px);
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.header .left h1{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

.header .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

.header .left .breadcrumb li {
  color: var(--dark);
}

.header .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

.header .left .breadcrumb li a.active {
  color: var(--primary);
  pointer-events: none;
}

@media (max-width:768px) {
  .header{
      margin-top: -20px;
  }
  .header .left h1{
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 6px;
      color: var(--dark);
  }
}